body {
    background: gray;
}

#background {
    background-color: black;
    width: 1600px;
    height: 900px;
    margin: auto;
    border: 15px solid #111111;
    border-radius: 5px;
}

#logo {
    width: 400px;
    height: 200px;
    background-color: white;
}